            <header class="page-header wrapper">
                <nav class="navbar">
                    <h1 class="align-center">
                        <a href="../index/index.html"><img class="logo" src="../../images/common/logo/logo_1.png" alt="Retros_index"></a>
                    </h1>
                    <ul class="main-nav font-english">
                        <li>
                            <a href="../about/about.html">
                                <span class="material-symbols-outlined">info</span>
                                About
                            </a>
                        </li>
                        <!-- <li>
                            <a href="../research/research.html">
                                <span class="material-symbols-outlined">experiment</span>
                                Research
                            </a>
                        </li> -->
                        <!-- <li>
                            <a href="../works/works.html">
                                <span class="material-symbols-outlined">stadia_controller</span>
                                Works
                            </a>
                        </li> -->
                        <!-- <li>
                            <a href="../interest/interest.html">
                                <span class="material-symbols-outlined">thumb_up</span>
                                Interest
                            </a>
                        </li> -->
                        <li>
                            <a href="../gallery/gallery.html">
                                <span class="material-symbols-outlined">image</span>
                                Gallery
                            </a>
                        </li>
                        <!-- <li>
                            <a href="../blog/blog.html">
                                <span class="material-symbols-outlined">edit</span>
                                Blog
                            </a>
                        </li> -->
                        <li>
                            <a href="../contact/contact.html">
                                <span class="material-symbols-outlined">mail</span>
                                Contact
                            </a>
                        </li>
                    </ul>
                </nav>
            </header>