    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <meta name="description" content="Knowledge Base, Workstation.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- favicon -->
        <link rel="icon" type="image/png" href="../../images/common/favicon/favicon-96x96.png">

        <!-- reset.css ress -->
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">

        <!-- Original css -->
        <link rel="stylesheet" href="../../css/all.css">

        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap">

        <!-- icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
    </head>