/* text color */
.text-ivory {
    color: rgb(255, 255, 240);
}

/* background color */
.back-midnight-blue {
    background-color: rgb(25, 25, 112);
}
.back-ivory {
    background-color: rgb(255, 255, 240);
}