<!DOCTYPE html>
<html lang="ja">
<%- include('../includes/head.ejs') %>

    <body>
        <!-- header -->
        <div class="sub-cover cover-default">
<%- include('../includes/header.ejs') %>
            <h2 class="page-title font-english">About</h2>
        </div>

        <!-- contents -->
        <!-- <main class="wrapper index-contents"> -->
        <main class="wrapper index-contents">
        <section class="about cover-text-black">
            <!-- <article class="post"> -->
                <header>
                    <h2 class="post-title">自己紹介</h2>
                    <div class="post-info">
                        <!-- <ul class="post-cat">
                            <li><a href="#">features</a></li>
                            <li><a href="#">plans</a></li>
                        </ul> -->
                        <time class="post-date" datetime="2025-07-18">July 18, 2025</time>
                    </div>
                </header>
                <img class="post-thumbnail" src="../../images/photos/cats_paradise_0.png" alt="example">

                <h3>自己紹介</h3>
                <hr>
                <p>
                    はじめまして。Daisuke Nako です。<br>
                    普段は大学院でコンピュータサイエンスの研究をしています。<br>
                    ソフトウェア・システムエンジニアを志望しており、課題解決全般に興味があります。
                </p>

                <h3>特徴</h3>
                <hr>
                <ul class="spaced-list">
                    <!-- <li>〜と言われることが多い</li> -->
                    <li>
                        メモ魔。<br>
                        アイデアをまとめたメモ帳をぬか床に見立てて、アイデア同士のシナジーと発酵を促すねらい。
                        Obsidianユーザー。
                    </li>

                    <li>
                        強みは、地道な努力に楽しみを見出して継続するのが得意なこと。<br>
                        勉強・研究・家事などに活かされている。<br>
                        例えばプログラミングをはじめとする技術習得に関しては、昨日よりも今日できることが増えることに日々楽しさを見出して継続できている。
                    </li>

                    <li>
                        弱みは、目的を明確にしてから行動するケースが多いこと。<br>
                        例えば「ゲーム制作をする」という目的を定めたのち、必要に駆られてC#を学ぶというように、「なぜそれをするのか？」を明確にすることが多い。<br>
                        もちろん「効率的に目標達成に至る可能性が高い」という良い側面もあるが、それだと「技術を学ぶこと自体が好きで技術を学んでいる方々」に追いつけなくなるという危機感を抱き、<!--
                     -->最近はQiitaの閲覧を習慣化することでインプットの量を増やし、最新技術へのアンテナを張るという対策を講じている。
                    </li>
                </ul>

                <h3>研究</h3>
                <hr>
                <h4>研究テーマ</h4>
                <p>「並列SATソルバーの性能向上を目的としたフィルタリングによる学習節運用方法の改良」</p>

                <h4>研究内容</h4>
                <p>
                    SATソルバーは多様な求解アルゴリズムを駆使することで、決定問題や最適化問題を他の手法と比べて比較的高速に求解できるプログラムである。
                    複雑に条件が絡み合った問題に有効であり、ソフトウェア・ハードウェア検証や、大規模な勤務表の自動生成等に応用されている。
                    またSATソルバーの利用に際して、異なる探索戦略を採用する複数のソルバーをマルチスレッドで動作させた「並列SATソルバー」を構成することで、求解性能の向上が実現できる。<br>
                    <br>
                    SATソルバーは求解中に探索の枝刈り情報である「学習節」を獲得し、余分な探索を削減するために活用する。
                    そして並列SATソルバーでは、並列スレッド上で動作するソルバー同士で学習節を共有することで、協調的に求解性能の向上を図る。
                    しかし本研究における実験の結果、ソルバー内で獲得される学習節は重複の度合いが高く、無駄が生じていることが確認できた。
                    学習節は求解中に数百万〜数千万本程度獲得されるため、無駄な学習節を大量に保持してしまうと、メモリの圧迫や求解速度の低下を招くことが懸念される。
                    そこで、学習節フィルタリングを応用して学習節の運用アルゴリズムを改良し、求解性能の向上を実現することが本研究の目的である。<br>
                    <br>
                    そして現在はC、C++でフィルタリング機能の開発に取り組んでいる。
                </p>
                <p>
                    <a href="https://github.com/arminbiere/kissat">非常に影響力のあるSATソルバー「kissat」 https://github.com/arminbiere/kissat</a>
                </p>

                <!-- <p>非常に影響力のあるSATソルバー「kissat」 https://github.com/arminbiere/kissat</p> -->
                <!-- <p>より詳しく知りたい方は、ぜひ以下のページをご参照ください。</p> -->
                <!-- Researchへのリンク -->
        <!-- - きっかけ
            - SATが面白かった -->
                <h4>アピールポイント</h4>
                <ul class="spaced-list">
                    <li>
                        徹底的な自動化。<br>
                        大量に実験を行い大量のデータを処理するため、労力削減を目的として、実験の実施・統計情報の算出・グラフの作成等のほぼ全ての工程をシェルスクリプト・Pythonを組み合わせて自動化しバッチ処理を行っている。
                    </li>

                    <li>
                        利便性の向上に対するこだわり。<br>
                        読みやすいコードになるよう、各種のコーディング原則に注意を払っている（DRY原則、モジュール結合度を下げる等）。
                        また他の人が使いやすいように、なおかつコードに手を加えやすいようにするため、フィルタのライブラリを提供し、それをコード中でインポートする形式を採用している。
                    </li>
                </ul>

                <h3>趣味</h3>
                <hr>
                <h4>ゲーム制作</h4>
                <p>
                    趣味の側面もあり、なおかつ技術を勉強する動機作りにもなるというメリットがある。<br>
                    一例として、オンラインでファイルを共有するためのストレージ(NAS)を自作したことがある。<br>
                    まず前提として、ファイルを複数の開発環境で共有したいという思いがあった。<br>
                    しかし全体のファイルサイズが大きいため Google Drive で共有すると有料になることが分かり、Raspberry Piを使用して各種PC・スマホからアクセスできる自作のNASを作る動機に繋がった。
                </p>

                <h4>英語の勉強</h4>
                <p>
                    TOEIC 895点。<br>
                    以前は論文やプログラミングのリファレンス等を読み込むために英語力が必要だと考え勉強していた。<br>
                    今後は海外の方とお仕事をしたり、友人関係を築くために英語を学び積極的に活用していきたいと考えている。
                </p>

                <h4>読書</h4>
                <p>
                    乱読派。<br>
                    以下は最近読んで面白かった本です。
                </p>
                <ul class="book-list">
                    <li>
                        <a href="https://amzn.asia/d/ddouZhk">
                            <strong>Wouter Groeneveld「クリエイティブプログラマー」</strong>
                        </a>
                        <p>逆境こそチャンス。イノベーションは制約から生まれる。</p>
                    </li>
                    <li>
                        <a href="https://amzn.asia/d/iVxXY1n">
                            <strong>土井善晴「一汁一菜で良いという提案」</strong>
                        </a>
                        <p>一汁一菜こそが持続可能な料理の基本形式。</p>
                    </li>
                    <li>
                        <a href="https://amzn.asia/d/gBsa0oX">
                            <strong>岸政彦「断片的なものの社会学」</strong>
                        </a>
                        <p>人々のリアルな生活史。</p>
                    </li>
                </ul>

                <h4>料理</h4>
                <p>
                    山梨で一人暮らしを始めて約5年、ほぼ毎日自炊を継続中。<br>
                    得意料理は煮物や、冷蔵庫がすっきりするタイプの料理。
                </p>

                <h3>資格</h3>
                <hr>
                <ul>
                    <li>基本情報技術者試験</li>
                    <li>TOEIC 895点</li>
                    <li>漢字検定2級</li>
                    <li>普通自動車免許</li>
                </ul>


                <h3>今後の展望</h3>
                <hr>
                <ul>
                    <li>
                        フロント・バックエンドを問わず、ソフトウェア・システム開発を極める。
                    </li>
                    <li>
                        それ以外に関しても、大規模データ処理や最適化など、積極的に専門性を活かして課題を解決したい。
                    </li>
                </ul>

                <h3>コメント</h3>
                <hr>
                <p>
                    素直さと敬意を大切にして、わからないことは積極的にキャッチアップしながら周囲の方々とも交流し、日々地道に邁進していく所存です。<br>
                    今後ともよろしくお願いいたします。
                </p>
            <!-- </article> -->

            <!-- <aside class="sidebar">
                <h3 class="heading-medium font-english">Category</h3>
                <ul class="side-menu">
                    <li><a href="#">テスト１</a></li>
                    <li><a href="#">テスト２</a></li>
                    <li><a href="#">テスト３</a></li>
                    <li><a href="#">テスト４</a></li>
                </ul>
                <h3 class="heading-medium font-english">Archives</h3>
                <ul class="side-menu">
                    <li><a href="#">2025</a></li>
                </ul>
            </aside> -->

            <!-- <aside class="ad">
                <img src="../../images/banner.jpg" alt="new menu release">
            </aside> -->
        </main>
  </section>

        <!-- footer -->
        <footer class="page-footer">
<%- include('../includes/copyright.ejs') %>
        </footer>
    </body>
</html>