<!DOCTYPE html>
<html lang="ja">
<%- include('../includes/head.ejs') %>

    <body>
        <!-- header -->
        <div class="sub-cover cover-default">
<%- include('../includes/header.ejs') %>
            <h2 class="page-title font-english">Contact</h2>
        </div>

        <!-- contents -->
        <main class="wrapper">
            <section class="location">
                <div class="location-info">
                    <h3 class="heading-medium font-english">Information</h3>
                    <table id="contact" class="info">
                        <tr>
                            <th>Email</th>
                            <td>&#115;&#101;&#101;&#119;&#119;&#101;&#101;&#100;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</td>
                        </tr>
                        <tr>
                            <th>GitHub</th>
                            <td><a href="https://github.com/seewweed" target="_blank">https://github.com/seewweed</a></td>
                        </tr>
                        <tr>
                            <th>Office Hours</th>
                            <td>9:00 ~ 18:00</td>
                        </tr>
                    </table>
                </div>

                <div class="location-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6481.928417363339!2d138.57092737592845!3d35.67788327258834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601bf830e52d7e47%3A0x81ea310092d970e0!2z5bGx5qKo5aSn5a2mIOeUsuW6nOOCreODo-ODs-ODkeOCuQ!5e0!3m2!1sja!2sjp!4v1742368107426!5m2!1sja!2sjp" 
                    width="720"
                    height="320"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
                </div>
            </section>

            <section class="email">
                <h3 class="heading-medium font-english">Contact</h3>
                    <p class="align-center">
                        以下のボタンからメールにてお問い合わせください。<br>
                        通常3日以内にご返信させていただいておりますが、<br>
                        数日中に返信がない場合は正しく受信できなかった可能性がございますので、<br>
                        恐れ入りますが再度お問い合わせいただきますようお願い申し上げます。
                    </p>
                <div class="align-center">
                    <a class="btn" href="mailto:&#116;&#122;&#110;&#106;&#53;&#51;&#107;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">お問い合わせ</a>
                </div>
            </section>
        </main>

        <!-- footer -->
        <footer class="page-footer">
<%- include('../includes/copyright.ejs') %>
        </footer>
    </body>
</html>