<!DOCTYPE html>
<html lang="ja">
<%- include('../includes/head.ejs') %>

    <body>
        <!-- header -->
        <div class="sub-cover cover-interest">
<%- include('../includes/header.ejs') %>
            <h2 class="page-title font-english">Interest</h2>
        </div>

        <!-- contents -->
        <main class="wrapper grid text-ivory">
            <div class="item item-big">
                <img class="modal-trigger" src="../../images/photos/okinawa/IMG_20200316_142800.jpg" alt="">
                <p>ハト夫婦</p>
            </div>
            <div class="item">
                <img class="modal-trigger" src="../../images/photos/okinawa/IMG_20200316_143134.jpg" alt="">
                <p>サッカー場</p>
            </div>
            <div class="item">
                <img class="modal-trigger" src="../../images/photos/okinawa/IMG_20200316_153937.jpg" alt="">
                <p>カクカク</p>
            </div>
            <div class="item">
                <img class="modal-trigger" src="../../images/photos/okinawa/IMG_20200316_141446.jpg" alt="">
                <p>公園内のキャンプ場</p>
            </div>
            <div class="item">
                <img class="modal-trigger" src="../../images/photos/okinawa/IMG_20200316_142550.jpg" alt="">
                <p>池と休憩所</p>
            </div>
            <div class="item">
                <img class="modal-trigger" src="../../images/photos/okinawa/IMG_20200317_121551.jpg" alt="">
                <p>いつものベンチ</p>
            </div>
            <div class="item">
                <img class="modal-trigger" src="../../images/photos/okinawa/IMG_20200317_121741.jpg" alt="">
                <p>鴨</p>
            </div>
            <div class="item">
                <img class="modal-trigger" src="../../images/photos/okinawa/IMG_20200317_122046.jpg" alt="">
                <p>いつもの謎自販機</p>
            </div>
            <div class="item">
                <img class="modal-trigger" src="../../images/photos/okinawa/IMG_20200317_121839.jpg" alt="">
                <p>鉛筆の塔</p>
            </div>
        </main>

        <!-- modal -->
        <div id="modal" class="modal" onclick="closeModal();">
            <img id="modalImg" class="modal-content" alt="">
        </div>

        <!-- footer -->
        <footer class="footer-header-cover-default">
<%- include('../includes/copyright.ejs') %>
        </footer>

        <script src="../../js/modal.js" defer></script>
    </body>
</html>